<html>
	<head>
		<script language="Javascript" src="js/jquery.js"></script>
		<title>{% block title %}REST client by Silex !{% endblock %}</title>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>