<html>
	<head>
		<script language="Javascript" src="js/jquery.js"></script>
		<script language="Javascript" src="js/jquery-ui-1.9.0.custom.min.js"></script>
		<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.9.0.custom.css" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<title>{% block title %}REST client by Silex !{% endblock %}</title>
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>